@model IEnumerable<Instituto.C.Models.Alumno>

@{
	ViewData["Title"] = "Index";
}

@if (TempData["Success"] != null)
{
	<div class="alert alert-success">@TempData["Success"]</div>
}
@if (TempData["Error"] != null)
{
	<div class="alert alert-danger">@TempData["Error"]</div>
}


<h1>Alumnos</h1>
@if (User.IsInRole("EmpleadoRol"))
{
	<p>
		<a class="btn btn-primary" asp-action="Create">Agregar Alumno</a>
	</p>
}

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.NumeroMatricula)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Nombre)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Apellido)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Carrera.Nombre)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.NumeroMatricula)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Apellido)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Carrera.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					<a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
					<a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
					<a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>

					@if (User.IsInRole("EmpleadoRol"))
					{
						<form asp-action="ToggleActivo" method="post" style="display:inline">
							<input type="hidden" name="id" value="@item.Id" />
							<button type="submit" class="btn btn-sm @(item.Activo ? "btn-warning" : "btn-success")">
								@(item.Activo ? "Desactivar" : "Activar")
							</button>
						</form>
					}
				</td>

			</tr>
		}
	</tbody>
</table>
