@model Instituto.C.Models.CalificacionDetalleViewModel


@{
    ViewData["Title"] = "Detalle de Calificación";
}

<h1>Detalle de Calificación</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-4">Fecha</dt>
        <dd class="col-sm-8">@Model.Calificacion.Fecha.ToShortDateString()</dd>

        <dt class="col-sm-4">Nota</dt>
        <dd class="col-sm-8">@Model.NotaTexto</dd>

        <dt class="col-sm-4">Profesor</dt>
        <dd class="col-sm-8">@Model.Calificacion.Profesor?.Nombre @Model.Calificacion.Profesor?.Apellido</dd>

        <dt class="col-sm-4">Alumno</dt>
        <dd class="col-sm-8">@Model.Calificacion.Alumno?.NumeroMatricula - @Model.Calificacion.Alumno?.Nombre @Model.Calificacion.Alumno?.Apellido</dd>

        <dt class="col-sm-4">Materia Cursada</dt>
        <dd class="col-sm-8">@Model.Calificacion.Inscripcion?.MateriaCursada?.CodigoCursada</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Calificacion.Id">Editar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>

