@model Instituto.C.Models.Calificacion

@{
    ViewData["Title"] = "Detalle de Calificación";
}

<h1>Detalle de Calificación</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-4">Fecha</dt>
        <dd class="col-sm-8">@Model.Fecha.ToShortDateString()</dd>

        <dt class="col-sm-4">Nota</dt>
        <dd class="col-sm-8">@((int)Model.Nota)</dd>

        <dt class="col-sm-4">Profesor</dt>
        <dd class="col-sm-8">@Model.Profesor?.Nombre @Model.Profesor?.Apellido</dd>

        <dt class="col-sm-4">Alumno</dt>
        <dd class="col-sm-8">@Model.Alumno?.NumeroMatricula - @Model.Alumno?.Nombre @Model.Alumno?.Apellido</dd>

        <dt class="col-sm-4">Materia Cursada</dt>
        <dd class="col-sm-8">@Model.Inscripcion?.MateriaCursada?.CodigoCursada</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>
