@model Instituto.C.Models.Inscripcion

@{
    ViewData["Title"] = "Crear Inscripción";
}

<h1>@ViewData["Title"]</h1>

<h4>Inscripción</h4>
<hr />

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Campo Alumno -->
            <div class="form-group">
                <label class="control-label">Alumno</label>
                <label asp-for="AlumnoId" class="d-none"></label>


                @if (User.IsInRole("AlumnoRol"))
                {
                    <input type="hidden" asp-for="AlumnoId" />
                    <p class="form-control-plaintext">
                        @{
                            var list = ViewData["AlumnoId"] as SelectList;
                            var item = list?.FirstOrDefault();
                        }
                        @item?.Text
                    </p>
                }
                else
                {
                    <select asp-for="AlumnoId" class="form-control" asp-items="@(ViewData["AlumnoId"] as SelectList)"></select>

                }

                <span asp-validation-for="AlumnoId" class="text-danger"></span>
            </div>

            <!-- Campo MateriaCursada -->
            <div class="form-group">
                <label class="control-label">Cursada</label>
                <label asp-for="MateriaCursadaId" class="d-none"></label>

                <select asp-for="MateriaCursadaId" class="form-control" asp-items="@(ViewData["MateriaCursadaId"] as SelectList)"></select>
                <span asp-validation-for="MateriaCursadaId" class="text-danger"></span>
            </div>

            <!-- Campo Activa -->
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Activa" /> @Html.DisplayNameFor(model => model.Activa)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
}

