@model Instituto.C.Models.Carrera

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de la Carrera</h1>

<div>
    <h4>Carrera</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoCarrera)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoCarrera)
        </dd>
    </dl>
</div>

<div>
    <h6>Materias</h6>
    <hr />
    @if (Model.Materias == null || !Model.Materias.Any())
    {
        <p><em>No hay materias registradas para esta carrera.</em></p>
    }
    else
    {
        <ul>
            @foreach (var materia in Model.Materias)
            {
                <li>
                    <strong>@materia.Nombre</strong> (@materia.CodigoMateria) - Cupo: @materia.CupoMaximo
                </li>
            }
        </ul>
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>

