@model IEnumerable<Instituto.C.Models.Carrera>

@{
    ViewData["Title"] = "Index";
}

<h1>Carreras</h1>

<!-- Eliminar el botón Crear Nueva -->
<!-- <p>
    <a asp-action="Create">Crear Nueva</a>
</p> -->

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoCarrera)
            </th>
            <th>Materias</th>
            <!-- Eliminamos la columna vacía para acciones -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoCarrera)
                </td>
                <td>
                    @if (item.Materias != null && item.Materias.Any())
                    {
                        <ul class="mb-0">
                            @foreach (var materia in item.Materias)
                            {
                                <li>@materia.Nombre</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <em>Sin materias</em>
                    }
                </td>
                <!-- Eliminamos la celda con enlaces Editar, Detalles, Eliminar -->
            </tr>
        }
    </tbody>
</table>

