@model IEnumerable<Instituto.C.Models.Materia>

@{
	ViewData["Title"] = "Index";
}

@* @if (TempData["Success"] != null)
{
	<div class="alert alert-success">@TempData["Success"]</div>
} *@
@if (TempData["Error"] != null)
{
	<div class="alert alert-danger">@TempData["Error"]</div>
}

@if (User.IsInRole("AlumnoRol"))
{
	<h1>Materias de tu Carrera</h1>
<p>
	<a asp-controller="Inscripciones" asp-action="Create" class="btn btn-primary">Inscribirme</a>
</p>
}
else
{

	<h1>Materias Disponibles</h1>
}




@if (User.IsInRole("EmpleadoRol"))
{
	<p>
		<a class="btn btn-primary" asp-action="Create">Agregar Materia</a>
	</p>
}


<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.Nombre)</th>
			<th>@Html.DisplayNameFor(model => model.CodigoMateria)</th>
			<th>@Html.DisplayNameFor(model => model.Descripcion)</th>
			<th>@Html.DisplayNameFor(model => model.CupoMaximo)</th>
			<th>@Html.DisplayNameFor(model => model.Carrera)</th>

			@if (User.IsInRole("EmpleadoRol"))
			{
				<th>Acciones</th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.Nombre)</td>
				<td>@Html.DisplayFor(modelItem => item.CodigoMateria)</td>
				<td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
				<td>@Html.DisplayFor(modelItem => item.CupoMaximo)</td>
				<td>@Html.DisplayFor(modelItem => item.Carrera.CodigoCarrera)</td>

				@if (User.IsInRole("EmpleadoRol"))
				{
					<td>
						<div class="mb-1">
							<a class="btn btn-sm btn-info w-100" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
						</div>
						<div class="mb-1">
							<a class="btn btn-sm btn-secondary w-100" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
						</div>
						<div>
							<a class="btn btn-sm btn-danger w-100" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
						</div>
					</td>
				}
			</tr>
		}
	</tbody>
</table>

